@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Dosis:wght@200&display=swap");

body {
  height: 100vh;
  display: flex;
  background-color: #000;
  margin: 0;
  padding: 0;
}

.video-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  opacity: 0.3;
}

.video-wrapper > * {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.video-wrapper > video {
  animation: fadeIn 3s;
}

.video-wrapper > img {
  filter: blur(0.3em) contrast(0.3);
}

#header-title,
#home-title,
.subtitle,
.title {
  font-family: "Averia Serif Libre", cursive;
}

#home-title {
  text-align: center;
  animation: fadeIn 1s;
}

#home-subtitle {
  text-align: center;
  letter-spacing: 0.3em;
  font-family: "Dosis", sans-serif;
  animation: fadeIn 1s;
  margin-bottom: 1em;
}

.home-content-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.one-line-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.two-line-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 576px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
